@use "../utils/functions";
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

a {
  text-decoration: none;
}
.header {
  .navbar {
    width: 100%;
    background: black;
    height: 80px;
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      #hamburger {
        display: none;
      }
      .logo-link {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18%;
        border-right: 1px solid #e3e3e3;
      }
      .menu {
        width: 91%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-list {
          width: 50%;
          padding: 0px 30px;
          display: flex;
          justify-content: space-between;
          gap: 40px;
          .nav-item {
            .nav-link {
              color: var(--White, #fff);
              text-align: right;
              font-size: 16px;
              font-weight: 400;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
