@use "../utils/functions";
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

a {
  text-decoration: none;
}
.header {
  @media (max-width: 600px) {
    width: 100%;
    &-hero {
      width: 100%;
    }
  }
  .navbar {
    width: 100%;
    background: black;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 3;
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      #hamburger {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }

      .logo-link {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        border-right: 1px solid #e3e3e3;
        @media (max-width: 1024px) {
          width: 30%;
          border-right: none;
        }
      }
      .menu {
        width: 91%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1024px) {
          display: none;
        }
        .nav-list {
          width: 50%;
          padding: 0px 30px;
          display: flex;
          justify-content: space-between;
          gap: 40px;
          .nav-item {
            .nav-link {
              color: #fff;
              text-align: right;
              font-size: 16px;
              font-weight: 400;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .header {
      .navbar {
        z-index: 3;
        width: 100%;
      }
    }
    .hide {
      display: none;
      transform: translateY(-1900px);
    }
    .navbar-res.hide {
      top: 0;
    }
    .navbar-res {
      transition: all 0.9s;
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 1;

      .navbar-list {
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 130px 0px;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        .navbar-list__item {
          width: 100%;
          text-align: center;
          margin-bottom: 50px;
          .navbar-link {
            width: 100%;
            color: wheat;
            font-size: 25px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
