@use "../utils/functions";
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

.navbar {
  width: 100%;
  height: 80px;
  background: var.$black;
  .navigation {
    height: 80px;
    @include mix.flex($gap: 0px);
    .logo-link {
      width: 15%;
      height: 100%;
      @include mix.flex($jcontent: center, $gap: 0px);
      border-right: 1px solid var.$grey;
      .logo {
        width: 132px;
      }
    }
    .menu {
      width: 78%;
      @include mix.flex($gap: 0px);
      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        .nav-list {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 40px;
          .nav-item {
            .nav-link {
              color: black;
            }
          }
        }
      }
      .nav-list {
        @include mix.flex($gap: 20px);
        list-style-type: none;

        .nav-item {
          .nav-link {
            text-decoration: none;
            color: var.$white;
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 14px 18px;
            transition: all 0.9s;
            &:hover {
              transform: scale(0.8);
              color: var.$btnColor;
            }
          }
        }
      }
    }
  }
}
