* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none !important;
}

/* roboto-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/roboto-condensed-v27-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/roboto-condensed-v27-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/roboto-condensed-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/roboto-condensed-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-condensed-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/roboto-condensed-v27-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/roboto-condensed-v27-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.button-20 {
  padding: 20px 64px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-24 {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-box {
  padding: 22px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-black {
  background-color: #161722;
  color: #ffd2a4;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-color: #161722;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn-black:hover {
  color: #ffffff;
}

.btn-primary {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: #ffd2a4;
  color: #161722;
  border-color: #ffd2a4;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn-primary:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    width: 100%;
  }
  .header-hero {
    width: 100%;
  }
}
.header .navbar {
  width: 100%;
  background: black;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navbar .navigation #hamburger {
  display: none;
}
@media (max-width: 768px) {
  .header .navbar .navigation #hamburger {
    display: block;
  }
}
.header .navbar .navigation .logo-link {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18%;
  border-right: 1px solid #e3e3e3;
}
@media (max-width: 1024px) {
  .header .navbar .navigation .logo-link {
    width: 30%;
    border-right: none;
  }
}
.header .navbar .navigation .menu {
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .header .navbar .navigation .menu {
    display: none;
  }
}
.header .navbar .navigation .menu .nav-list {
  width: 50%;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.header .navbar .navigation .menu .nav-list .nav-item .nav-link {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header .header .navbar {
    z-index: 3;
    width: 100%;
  }
  .header .hide {
    display: none;
    -webkit-transform: translateY(-900px);
            transform: translateY(-900px);
  }
  .header .navbar-res.hide {
    top: 0;
  }
  .header .navbar-res {
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
  }
  .header .navbar-res .navbar-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 130px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar-res .navbar-list .navbar-list__item {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .header .navbar-res .navbar-list .navbar-list__item .navbar-link {
    width: 100%;
    color: wheat;
    font-size: 25px;
    text-transform: uppercase;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header .site__hero-content {
  width: 100%;
  height: 500px;
  background: url("/assets/images/about/header__content.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .site__hero-content .section__content {
  height: 99px;
  padding: 160px 0px;
}
.header .site__hero-content .section__content .header__one {
  color: #161722;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.header .site__hero-content .section__content .header__two {
  max-width: 647px;
  color: #161722;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

@media (max-width: 1000px) {
  .section__content {
    text-align: center;
  }
}
.sections__row {
  margin-top: 100px;
  text-align: center;
}
.sections__row .row__text__one {
  margin-bottom: 16px;
  color: #161722;
  text-align: center;
  /* Label 02 */
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
}
.sections__row .row__text__two {
  color: #161722;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.sections__row .row__text__paragraph {
  max-width: 768px;
  margin-top: 32px;
  color: #161722;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /* Paragraph */
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sections__img__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 112px;
  gap: 60px;
}
.sections__img__row .row__img {
  width: 100%;
  max-width: 293px;
  gap: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sections__img__row .row__img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 1000px) {
  .sections__img__row {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sections-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 128px;
  gap: 24px;
}
.sections-paragraph .paragraph__text__one {
  color: #161722;
  font-size: 16px;
  font-weight: 400;
}
.sections-paragraph .paragraph__text__main {
  max-width: 371px;
  color: #161722;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}
.sections-paragraph .paragraph__text__button {
  max-width: 372px;
  color: #161722;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 800px) {
  .sections-paragraph {
    text-align: center;
  }
}

.site__main__article {
  margin-top: 128px;
  text-align: center;
}
.site__main__article .article__text__top {
  margin-bottom: 16px;
  color: #161722;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.site__main__article .article__text__main {
  margin-right: auto;
  margin-left: auto;
  max-width: 432px;
  color: #161722;
  font-size: 48px;
  font-weight: 700;
}

.sections-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.sections-box .box__big__text {
  max-width: 410px;
  color: #161722;
  font-size: 32px;
  font-weight: 700;
}
.sections-box .box__small__text {
  max-width: 500px;
  margin-top: 16px;
  color: #161722;
  font-size: 16px;
  font-weight: 400;
}
.sections-box .img__box {
  width: 100%;
  max-width: 700px;
  height: 320px;
}

.footer-top {
  margin-top: 163px;
  text-align: center;
}
.footer-top .footer-text__small {
  color: #161722;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.footer-top .footer-text__big {
  color: #161722;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  gap: 50px;
}
.footer-row .row__content {
  padding: 48px 75px 160px;
  width: 302px;
  height: 366px;
  background-color: #f5f2f0;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-row .row__content:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.footer-row .row-content__img {
  width: 100%;
  margin-bottom: 20px;
}
.footer-row .row__name {
  margin-bottom: 8px;
}
.footer-row .row__countre {
  margin-bottom: 20px;
}