* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none !important;
}

/* roboto-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/roboto-condensed-v27-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/roboto-condensed-v27-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/roboto-condensed-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/roboto-condensed-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-condensed-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/roboto-condensed-v27-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/roboto-condensed-v27-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.button-20 {
  padding: 20px 64px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-24 {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-box {
  padding: 22px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-black {
  background-color: #161722;
  color: #ffd2a4;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-color: #161722;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn-black:hover {
  color: #ffffff;
}

.btn-primary {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: #ffd2a4;
  color: #161722;
  border-color: #ffd2a4;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn-primary:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    width: 100%;
  }
  .header-hero {
    width: 100%;
  }
}
.header .navbar {
  width: 100%;
  background: black;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navbar .navigation #hamburger {
  display: none;
}
@media (max-width: 768px) {
  .header .navbar .navigation #hamburger {
    display: block;
  }
}
.header .navbar .navigation .logo-link {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18%;
  border-right: 1px solid #e3e3e3;
}
@media (max-width: 1024px) {
  .header .navbar .navigation .logo-link {
    width: 30%;
    border-right: none;
  }
}
.header .navbar .navigation .menu {
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .header .navbar .navigation .menu {
    display: none;
  }
}
.header .navbar .navigation .menu .nav-list {
  width: 50%;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.header .navbar .navigation .menu .nav-list .nav-item .nav-link {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header .header .navbar {
    z-index: 3;
    width: 100%;
  }
  .header .hide {
    display: none;
    -webkit-transform: translateY(-900px);
            transform: translateY(-900px);
  }
  .header .navbar-res.hide {
    top: 0;
  }
  .header .navbar-res {
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
  }
  .header .navbar-res .navbar-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 130px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar-res .navbar-list .navbar-list__item {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .header .navbar-res .navbar-list .navbar-list__item .navbar-link {
    width: 100%;
    color: wheat;
    font-size: 25px;
    text-transform: uppercase;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  height: 100vh;
}
.header .header-hero {
  height: 663px;
  padding: 128px 0px 32px 0px;
  background-image: url("/assets/images/bg-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header-hero .text__content-head {
  max-width: 592px;
  margin-bottom: 32px;
  height: 199px;
}
.header .header-hero .text__content-head h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.header .header-hero .text__content-head h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}
.header .header-hero div {
  height: 80px;
}
.header .header-hero div .text-btn {
  margin-bottom: 64px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.header .header-hero p {
  max-width: 308px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  line-height: 24px; /* 150% */
}
.header .header-hero p:hover {
  position: relative;
}
.header .header-hero p:hover::before {
  content: "";
  position: absolute;
  left: -45px;
  top: 10px;
  width: 35px;
  height: 3px;
  background-color: bisque;
}

.main {
  height: 1000px;
}