* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none !important;
}

/* roboto-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/roboto-condensed-v27-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/roboto-condensed-v27-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/roboto-condensed-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/roboto-condensed-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-condensed-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/roboto-condensed-v27-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/roboto-condensed-v27-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.button-20 {
  padding: 20px 64px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-24 {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-box {
  padding: 22px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.btn-black {
  background-color: #161722;
  color: #ffd2a4;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-color: #161722;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn-black:hover {
  color: #ffffff;
}

.btn-primary {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: #ffd2a4;
  color: #161722;
  border-color: #ffd2a4;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn-primary:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    width: 100%;
  }
  .header-hero {
    width: 100%;
  }
}
.header .navbar {
  width: 100%;
  background: black;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navbar .navigation #hamburger {
  display: none;
}
@media (max-width: 768px) {
  .header .navbar .navigation #hamburger {
    display: block;
  }
}
.header .navbar .navigation .logo-link {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border-right: 1px solid #e3e3e3;
}
@media (max-width: 1024px) {
  .header .navbar .navigation .logo-link {
    width: 30%;
    border-right: none;
  }
}
.header .navbar .navigation .menu {
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .header .navbar .navigation .menu {
    display: none;
  }
}
.header .navbar .navigation .menu .nav-list {
  width: 50%;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.header .navbar .navigation .menu .nav-list .nav-item .nav-link {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header .header .navbar {
    z-index: 3;
    width: 100%;
  }
  .header .hide {
    display: none;
    -webkit-transform: translateY(-1900px);
            transform: translateY(-1900px);
  }
  .header .navbar-res.hide {
    top: 0;
  }
  .header .navbar-res {
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
  }
  .header .navbar-res .navbar-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 130px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar-res .navbar-list .navbar-list__item {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .header .navbar-res .navbar-list .navbar-list__item .navbar-link {
    width: 100%;
    color: wheat;
    font-size: 25px;
    text-transform: uppercase;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-section {
  background-image: url(/assets/images/sermons/U_b-eSviHvs.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 432px;
}

.site-section__hero {
  padding: 160px 0px 172px 0px;
}
.site-section__hero .site-section__hero__title__one {
  margin-bottom: 16px;
  height: 19px;
}
.site-section__hero .site-section__hero__title__second {
  color: #232536;
  font-size: 55px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.contact-section__heading {
  margin-top: 115px;
  text-align: center;
}
@media (max-width: 600px) {
  .contact-section__heading {
    width: 100%;
  }
}
.contact-section__heading__one {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}
@media (max-width: 500px) {
  .contact-section__heading__one {
    font-size: 40px;
  }
}
.contact-section__heading__second {
  color: var(--Black, #161722);
  margin-right: auto;
  margin-left: auto;
  width: 554px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
}

.img-date {
  padding: 30px 32px 0px 378px;
}

.contact-section__grid {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 320px) {
  .contact-section__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-section__grid__left {
  width: 435px;
  height: 512px;
  background: #FFF5EB;
}

.pad, .btn-black, .content-section__grid__left__paragrapgh, .contact-section__grid__left li, .contact-section__grid__left__h, .contact-section__grid__left__p {
  margin: 0px 0px 16px 89px;
}

.contact-section__grid__left__p {
  background: var(--Gradient, linear-gradient(110deg, #A54E2B -53.83%, #DC9853 62.61%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-section__grid__left__h {
  width: 210px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
}
.content-section__grid__left__paragrapgh {
  width: 256px;
}

.btn-black {
  margin: 32px 115px 61px 89px;
}
.btn-black:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
}

.contact-section__grid__right img {
  width: 100%;
}

.sec-event ul li span {
  width: 137px;
  margin-left: 10px;
}
.sec-event__title {
  text-align: center;
}
.sec-event__title__heading {
  width: 554px;
  font-size: 48px;
  margin-top: 128px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
.sec-event__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
@media (max-width: 600px) {
  .sec-event__cards {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
.sec-event__cards__one {
  width: 295px;
  height: 454px;
  background: var(--Light-orange, #FFF5EB);
}
@media (max-width: 600px) {
  .sec-event__cards__one {
    width: 100%;
  }
}
.sec-event__cards__one__p {
  width: 119px;
  color: #A54E2B;
}
.sec-event__cards__one__h {
  width: 220px;
  margin-bottom: 16px;
}
.sec-event__cards__one__paragraph {
  width: 214px;
}

.similar-variables, .sec-event ul li, .sec-event__cards__one__p, .sec-event__cards__one__h, .sec-event__cards__one__paragraph {
  margin: 0px 159px 16px 40px;
}

.sec-event__card__one__date {
  width: 25px;
  height: 20px;
  font-size: 28px;
  padding: 24px 40px 0px 240px;
  margin-bottom: 10px;
}