// Base section
@use "../base/reset";
@use "../base/typeography";
// Base section

// Components section
@use "../components/button";
@use "../components/cover";
@use "../components/dropdown";
// Components section

// Layout SCSS
@use "../layout/header";
@use "../layout/navigation";
@use "../layout/main";
@use "../layout/sidebar";
@use "../layout/footer";
@use "../layout/forms";
@use "../layout/grid";
// Layout SCSS

// Theme section
@use "../themes/themes";
@use "../themes/admin";
// Theme section

// Utils section
@use "../utils/container";
@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/functions";
@use "../utils/helpers";
// Utils section

.header {
  height: 100vh;
  .header-hero {
    width: 100%;
    height: 663px;
    background-image: url("/assets/images/bg-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
