// Base section
@use "../base/reset";
@use "../base/typeography";
// Base section

// Components section
@use "../components/button";
@use "../components/cover";
@use "../components/dropdown";
// Components section

// Layout SCSS
@use "../layout/header";
@use "../layout/navigation";
@use "../layout/main";
@use "../layout/sidebar";
@use "../layout/footer";
@use "../layout/forms";
@use "../layout/grid";
// Layout SCSS

// Theme section
@use "../themes/themes";
@use "../themes/admin";
// Theme section

// Utils section
@use "../utils/container";
@use "../utils/variables";
@use "../utils/mixins" as mix;
@use "../utils/functions";
@use "../utils/helpers";
// Utils section

.header {
  height: 90vh;
  .header-hero {
    height: 963px;
    padding: 128px 0px 32px 0px;

    background-image: url("/assets/images/bg-hero.png");
    background-size: cover;
    background-repeat: no-repeat;

    .text__content-head {
      margin-top: 80px;
      margin-bottom: 80px;
      max-width: 592px;
      margin-bottom: 32px;
      height: 240px;
      h5 {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
      h1 {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
        line-height: 82px;
        letter-spacing: -0.64px;
        text-transform: uppercase;
      }
    }
    div {
      height: 80px;
      .text-btn {
        margin-bottom: 64px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    p {
      max-width: 308px;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.9s;
      line-height: 24px; /* 150% */
      &:hover {
        position: relative;
      }
      &:hover::before {
        content: "";
        position: absolute;
        left: -45px;
        top: 10px;
        width: 35px;
        height: 3px;
        background-color: bisque;
      }
    }
  }
}
.main {
  width: 100%;
  .site-sections__about {
    width: 100%;
    margin: 240px 0px;
    .section__card-head {
      height: 100px;
      text-align: center;
      span {
        color: #161722;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }
      h2 {
        color: #161722;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
      }
    }
    .section__card-body {
      @include mix.grid($column: 3, $gap: 24px);
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        width: 100%;
        height: 800px;
        @include mix.grid($column: 1, $gap: 24px);
      }
      .section__card {
        background-color: #fff5eb;
        padding: 80px;
        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: #ffd2a4;
          padding: 20px;
          margin-bottom: 24px;
        }
        h3 {
          color: #161722;
          font-size: 32px;
          font-weight: 700;
          line-height: 44px;
          letter-spacing: -0.32px;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        p {
          color: #161722;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
        transition: all 0.7s;
        &:hover {
          cursor: pointer;
          border-bottom: 20px solid #ffd2a4;
        }
      }
    }
  }
  .site-compass {
    width: 100%;
    height: 900px;
    &__head {
      text-align: center;
      width: 100%;
      height: 400px;
      span {
        color: #161722;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      h2 {
        margin-bottom: 32px;
        color: #161722;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
      }
      p {
        max-width: 846px;
        margin: 0 auto;
        color: #161722;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 56px;
      }
    }
    &__body {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      picture {
        width: 293px;
        height: 384px;
        transition: all 0.9s;
        img {
          width: 100%;
        }
        &:hover {
          transform: translateY(100px);
          transform: scale(1.5);
        }
      }
    }
  }
}
