// Base section
@use "../base/reset";
@use "../base/typeography";
// Base section

// Components section
@use "../components/button";
@use "../components/cover";
@use "../components/dropdown";
// Components section

// Layout SCSS
@use "../layout/header";
@use "../layout/navigation";
@use "../layout/main";
@use "../layout/sidebar";
@use "../layout/footer";
@use "../layout/forms";
@use "../layout/grid";
// Layout SCSS

// Theme section
@use "../themes/themes";
@use "../themes/admin";
// Theme section

// Utils section
@use "../utils/container";
@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/functions";
@use "../utils/helpers";
// Utils section

// site hero //




.site-section{
    background-image: url(/assets/images/sermons/U_b-eSviHvs.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 432px;
     
   
}

.site-section__hero{
    padding: 160px 0px 172px 0px;
    .site-section__hero__title__one{
        margin-bottom: 16px;
        height: 19px;
    }
    .site-section__hero__title__second{
        color: #232536;
        font-size: 55px;
        font-weight: 700;
        line-height: 64px; 
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }

}
// site hero //



//contact section// 
ul{
    list-style-type: none;

}



.contact-section__heading{
    margin-top: 115px;
    text-align: center;
    
    @media (max-width:425px){
        
    }
    
    &__one{
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        @media (max-width:500px){
        font-size: 40px;
    }

    }
    &__second{
        color: var(--Black, #161722);
        margin-right: auto;
        width: 100%;
        margin-left: auto;
            width: 554px;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px; 
            letter-spacing: -0.48px;

        
    }
}

.img-date{
        padding: 30px 32px 0px 378px; 
}

.contact-section__grid{
    margin-top: 64px;
    display: flex;
    @media(max-width:500px){
        flex-direction: column;
        
    }
    &__left{
        width: 435px;
        height: 512px;
        background: #FFF5EB;
       
    }
   
}

.pad{
    margin: 0px 0px 16px 89px;
}

.contact-section__grid__left{
    &__p{
        @extend .pad;
        background: var(--Gradient, linear-gradient(110deg, #A54E2B -53.83%, #DC9853 62.61%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__h{
        @extend .pad;
        width: 210px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.24px;
    }

    li{
        @extend .pad;
    }
    

}

.content-section__grid__left__paragrapgh{
    width: 256px;
    @extend .pad;

}


.btn-black{
    @extend .pad;
    margin: 32px 115px 61px 89px;
    &:hover{
        transition: 0.5s;
        background-color: white;
        
    }
}
.contact-section__grid__right img{
    width: 100%;
    
    
}

// section event//

.sec-event{
    ul{
       li {
        @extend .similar-variables;
        span{
            width: 137px;
            margin-left: 10px;
        }
       }
    }
    &__title{
        text-align: center;

        &__heading{
            width: 554px;
            font-size: 48px;
            margin-top: 128px;
            margin-bottom: 64px;
            margin-left: auto;
            margin-right: auto;
        }
        
       
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        @media (max-width:425px){
            grid-template-columns: 1fr;
            
           
        }
        &__one{
            width: 295px;
            height: 454px;
            background: var(--Light-orange, #FFF5EB);
            &__p{
                width: 119px;
                @extend .similar-variables;
                color: #A54E2B;
                
                
            }
            &__h{
                @extend .similar-variables;
                width: 220px;
                margin-bottom: 16px;
            }
            &__paragraph{
                @extend .similar-variables;
                width: 214px;
            }
        }
    }
}

 .similar-variables{
    margin: 0px 159px 16px 40px;
 }

.sec-event__card__one__date{
    width: 25px;
    height: 20px;
    font-size: 28px;
    padding: 24px 40px 0px 240px;
    margin-bottom: 10px;
    
}




















